In [58]:
#Initial imports
import pandas as pd
from pathlib import Path
import hvplot.pandas

In [59]:
#Set paths
ed_both_path = Path("Resources/ed_both_genders_by_age.csv")
ed_females_path = Path("Resources/ed_females_by_age.csv")
ed_males_path = Path("Resources/ed_males_by_age.csv")
income_path = Path("Resources/income_distribution_by_race_cleaned.csv")
income_age_path = Path("Resources/income_by_age.csv")

In [72]:
#Import Data
education_both_genders_df = pd.read_csv(ed_both_path)
education_females_df = pd.read_csv(ed_females_path)
education_males_df = pd.read_csv(ed_males_path)
income_percent_by_race_df = pd.read_csv(income_path)
income_by_age_df = pd.read_csv(income_age_path)

In [73]:
#Rename Row 0 as Header and Delete it as first row of all dataframes
education_both_genders_df = education_both_genders_df.rename(columns=education_both_genders_df.iloc[0]).loc[1:]
education_females_df = education_females_df.rename(columns=education_females_df.iloc[0]).loc[1:].set_index("Characteristic")
education_males_df = education_males_df.rename(columns=education_males_df.iloc[0]).loc[1:]
income_by_age_df = income_by_age_df.rename(columns=income_by_age_df.iloc[0]).loc[1:]

In [62]:
#Drop Nulls to Retrieve only Data for 2021 in income percent df
income_percent_by_race_2021 = income_percent_by_race_df.dropna()

In [63]:
#Drop extraneous columns in income percent df
income_percent_by_race_2021 = income_percent_by_race_2021.drop(columns=['Number in thousands', 'Total', 'Year', 'Median Estimate', 'Margin of error', 'Mean Estimate', 'Margin of error.1'])
income_percent_by_race_2021 = income_percent_by_race_2021.rename(columns={'Race and Hispanic origin of householder':'Race'})

In [64]:
#Set index to the Race Column and drop it
income_percent_by_race_2021 = income_percent_by_race_2021.set_index(income_percent_by_race_2021['Race'])
income_percent_by_race_2021.drop(columns='Race', inplace=True)

In [65]:
income_35k_49K = income_percent_by_race_2021['35,000 to 49,999']
income_35k_49K.hvplot(kind='bar', ylabel='Percent of Population')

In [74]:
#Drop Extraneous Columns in Income by Age
income_by_age_df = income_by_age_df.drop(columns=['Number (thousands)', 'Margin of error', 'Number (thousands)2', 'Margin of error2', 'Percent change', 'margin of error3'])

In [75]:
#Set the index and drop extraneous rows
income_by_age_df = income_by_age_df.set_index(income_by_age_df['Age of Householder'])
income_by_age_df.drop(columns='Age of Householder', inplace=True)
income_by_age_df.drop(labels=['Under 65 years'], axis=0, inplace=True)
income_by_age_df.head()

                   2020 Median Estimate 2021 Median Estimate
Age of Householder
...15 to 24 years                49,094               51,645
...25 to 34 years                74,958               74,862
...35 to 44 years                89,711               90,312
...45 to 54 years                94,633               97,089
...55 to 64 years                77,872               75,842

In [76]:
#Clean away commas and change type to integer for graphing
income_by_age_df = income_by_age_df.replace(',','',regex=True)
income_by_age_df = income_by_age_df.astype('int')

In [77]:
income_by_age_df

                    2020 Median Estimate  2021 Median Estimate
Age of Householder
...15 to 24 years                  49094                 51645
...25 to 34 years                  74958                 74862
...35 to 44 years                  89711                 90312
...45 to 54 years                  94633                 97089
...55 to 64 years                  77872                 75842
65 years and older                 48866                 47620

In [78]:
income_by_age_df['2021 Median Estimate'].hvplot.line(title='2021 Median Income by Age').opts(yformatter='%.0f')

:Curve   [Age of Householder]   (2021 Median Estimate)

In [79]:
education_females_df.head()

,Total,None,1st - 4th grade,5th - 6th grade,7th - 8th grade,9th grade,10th grade,11th grade2,High school graduate3,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
Characteristic,,,,,,,,,,,,,,,,
18 years and over,"130,709",380,711,"1,390","1,552","1,354","1,558","4,728","35,858","21,647","5,455","8,584","29,782","13,896","1,604","2,209"
18 to 24 years,"14,413",22,17,22,77,71,212,"1,661","4,474","4,746",317,665,"1,929",172,20,6
25 years and over,"116,296",358,694,"1,368","1,475","1,282","1,346","3,067","31,383","16,900","5,138","7,919","27,853","13,725","1,584","2,203"
25 to 29 years,"10,807",5,9,34,87,55,75,251,"2,720","1,649",459,695,"3,400","1,121",112,136
30 to 34 years,"11,450",15,26,51,89,86,116,312,"2,544","1,605",476,856,"3,297","1,552",149,276

In [80]:
#Remove Commas in order to change to Integers
education_females_df = education_females_df.replace(',','',regex=True)
education_females_df = education_females_df.astype('int')

In [82]:
#Drop extraneous Columns
ed_7th_andup = education_females_df.drop(columns=['Total', 'None', '1st - 4th grade', '5th - 6th grade'])
ed_7th_andup.head(10)

,7th - 8th grade,9th grade,10th grade,11th grade2,High school graduate3,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
Characteristic,,,,,,,,,,,,
18 years and over,1552,1354,1558,4728,35858,21647,5455,8584,29782,13896,1604,2209
18 to 24 years,77,71,212,1661,4474,4746,317,665,1929,172,20,6
25 years and over,1475,1282,1346,3067,31383,16900,5138,7919,27853,13725,1584,2203
25 to 29 years,87,55,75,251,2720,1649,459,695,3400,1121,112,136
30 to 34 years,89,86,116,312,2544,1605,476,856,3297,1552,149,276
35 to 39 years,115,108,132,279,2298,1494,440,777,3016,1661,223,305
40 to 44 years,117,155,133,250,2245,1315,462,732,2885,1595,239,273
45 to 49 years,130,144,107,202,2158,1303,470,674,2492,1517,167,218
50 to 54 years,159,135,87,255,2643,1361,488,709,2582,1493,118,201
55 to 59 years,107,116,107,288,3073,1582,580,824,2436,1040,119,171

In [83]:
ed_7th_up_45to59 = ed_7th_andup.iloc[7:10]
ed_7th_up_45to59

,7th - 8th grade,9th grade,10th grade,11th grade2,High school graduate3,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
Characteristic,,,,,,,,,,,,
45 to 49 years,130,144,107,202,2158,1303,470,674,2492,1517,167,218
50 to 54 years,159,135,87,255,2643,1361,488,709,2582,1493,118,201
55 to 59 years,107,116,107,288,3073,1582,580,824,2436,1040,119,171

In [84]:
females_45to59 = ed_7th_up_45to59.sum()
females_45to59

7th - 8th grade                      396
9th grade                            395
10th grade                           301
11th grade2                          745
High school graduate3               7874
Some college, no degree             4246
Associate's degree, occupational    1538
Associate's degree, academic        2207
Bachelor's degree                   7510
Master's degree                     4050
Professional degree                  404
Doctoral degree                      590
dtype: int64

In [85]:
total_females_45to59 = females_45to59.sum()
total_females_45to59

30256

In [86]:
females_45to59.hvplot(title='Education Level of Females Age 45 to 59', xlabel='Education Level', ylabel='Number in Thousands', rot=65)

:Curve   [index]   (0)